AI_FITNESS_ARTIFACTS_DIR=
AI_FITNESS_RUNTIME_ROOT=
AI_FITNESS_CHROMA_DIR=
AI_FITNESS_OUTPUT_DIR=
AI_FITNESS_FRONTEND_FILE=
AI_FITNESS_WEB_DIR=
QWEN3_BASE_URL=http://127.0.0.1:8080
AI_FITNESS_CONTEXT_SIZE=32768
AI_FITNESS_MAX_TOKENS=8192
